* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 0;
  scroll-behavior: auto;
  scrollbar-color: transparent transparent;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
}

/* Левая панель */
.sidebar {
  width: 300px;
  background: #f5f5f5;
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

.chapter {
  margin-bottom: 10px;
}

.chapter-title {
  cursor: pointer;
  padding: 10px;
  background: #e0e0e0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chapter-content {
  display: none;
  padding-left: 15px;
  margin-top: 5px;
}

.section-item {
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.section-item:hover {
  background: #ddd;
}

/* Правая часть */
.content {
  flex: 1;
  padding: 30px;
  background: white;
}
.content-block {
  display: none;
}

.active-content {
  display: block;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header a {
  color: #666;
  text-decoration: none;
  display: block;
  margin: 10px 0;
}
