*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  scroll-behavior: smooth;
}
* a, html a {
  text-decoration: none;
  color: inherit;
}
*::-webkit-scrollbar, html::-webkit-scrollbar {
  width: 0;
}

header {
  position: fixed;
  width: 100vw;
  background: rgba(41, 52, 82, 0.7);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

.hero {
  background-image: url(../img/34cf656bfae90e7b86216d9b2fde6e2d.jpg);
  background-attachment: fixed;
  color: white;
  text-align: center;
  padding: 4rem 1rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.hero a {
  background: #5562f4;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* Slider */
.slider {
  padding: 2rem;
  background: #e4e8ea;
}
.slider .slide {
  text-align: center;
  padding: 2rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider .slide h2 {
  font-size: 2.5rem;
  margin-bottom: 0.2rem;
}
.slider .slide hr {
  width: 5vw;
  margin: 0 auto;
  padding: 0.1rem;
  background-color: #5562f4;
  border: none;
  border-radius: 2rem;
}
.slider .slide p {
  margin: 0.2rem;
}
.slider .slide .slide_book {
  margin: 2rem;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.slider .slide .slide_book .card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  max-width: 30rem;
}
.slider .slide .slide_book .card img {
  width: 41%;
  height: auto;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.slider .slide a {
  background: #5562f4;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
}

/* Contact Form */
.contact {
  padding: 4rem 1rem;
  background-image: url(../img/34cf656bfae90e7b86216d9b2fde6e2d.jpg);
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.contact .contact-form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.contact .contact-form h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.contact .contact-form button {
  background: #5562f4;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}
.contact .contact-form input,
.contact .contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
}
.contact .social-media {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.contact .social-media .social_icons {
  display: flex;
  justify-content: space-around;
  padding: 1.5rem 0;
}
.contact .social-media .social_icons a img {
  transition: linear 1s linear;
}
.contact .social-media .social_icons a img:hover {
  transform: scale(1.2);
}
.contact .social-media p {
  font-size: 1.5em;
  text-align: center;
}

/* Footer */
footer {
  background: #293452;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .hero h1 {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=index.css.map */