<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>Документация Python</title>
    <link rel="stylesheet" href="/static/css/python-main.css">
  </head>
  <body>
    <div class="sidebar">
      <div class="header">
        <h1>Python разработчик</h1>
        <a href="https://giocatory.ru">https://giocatory.ru</a>
      </div>

      <!-- Главы меню -->
      <div class="chapter" data-chapter="1">
        <div class="chapter-title" onclick="toggleChapter(1)">
          Введение
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('intro-1')">
            Роль Python в современном мире
          </div>
          <div class="section-item" onclick="showContent('intro-2')">
            Язык программирования
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="2">
        <div class="chapter-title" onclick="toggleChapter(2)">
          Глава 1. Установка, настройка, инструментарий
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('toolkit-1')">
            Установка для Widows, Linux, MacOS
          </div>
          <div class="section-item" onclick="showContent('toolkit-2')">
            Обзор альтернативных реализаций
          </div>
          <div class="section-item" onclick="showContent('toolkit-3')">
            Переменные окружения (PATH)
          </div>
          <div class="section-item" onclick="showContent('toolkit-4')">
            Виртуальные окружения и современные инструменты
          </div>
          <div class="section-item" onclick="showContent('toolkit-5')">
            Редакторы кода
          </div>
          <div class="section-item" onclick="showContent('toolkit-6')">
            Полноценные IDE
          </div>
          <div class="section-item" onclick="showContent('toolkit-7')">
            Интеграция с системами контроля версий
          </div>
          <div class="section-item" onclick="showContent('toolkit-8')">
            Docker: Контейнеризация приложений
          </div>
          <div class="section-item" onclick="showContent('toolkit-9')">
            Инструменты сборки и автоматизации
          </div>
          <div class="section-item" onclick="showContent('toolkit-10')">
            Обзор CI/CD
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="3">
        <div class="chapter-title" onclick="toggleChapter(3)">
          Глава 2. Основы Python
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('fundamentals-1')">
            Синтаксис языка, отступы, PEP8
          </div>
          <div class="section-item" onclick="showContent('fundamentals-2')">
            Комментарии, Документация и docstrings
          </div>
          <div class="section-item" onclick="showContent('fundamentals-3')">
            Переменные и динамическая типизация, правила наименования
          </div>
          <div class="section-item" onclick="showContent('fundamentals-4')">
            Аннотации типов и инструменты проверки
          </div>
          <div class="section-item" onclick="showContent('fundamentals-5')">
            Типы данных, назначение и пояснение
          </div>
          <div class="section-item" onclick="showContent('fundamentals-6')">
            Целые числа
          </div>
          <div class="section-item" onclick="showContent('fundamentals-7')">
            Вещественные числа
          </div>
          <div class="section-item" onclick="showContent('fundamentals-8')">
            Комплексные числа
          </div>
          <div class="section-item" onclick="showContent('fundamentals-9')">
            Логический тип
          </div>
          <div class="section-item" onclick="showContent('fundamentals-10')">
            Создание строк
          </div>
          <div class="section-item" onclick="showContent('fundamentals-11')">
            Краткая работа со строками
          </div>
          <div class="section-item" onclick="showContent('fundamentals-12')">
            Форматирование строк
          </div>
          <div class="section-item" onclick="showContent('fundamentals-13')">
            Основные методы строк
          </div>
          <div class="section-item" onclick="showContent('fundamentals-14')">
            Функция print()
          </div>
          <div class="section-item" onclick="showContent('fundamentals-15')">
            Функция input()
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="4">
        <div class="chapter-title" onclick="toggleChapter(4)">
          Глава 3. Коллекции и структуры данных
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('structures-1')">
            Списки (list). Основные операции.
          </div>
          <div class="section-item" onclick="showContent('structures-2')">
            Списки (list). Срезы и копирование
          </div>
          <div class="section-item" onclick="showContent('structures-3')">
            Списки (list). List Comprehension и генераторы списков
          </div>
          <div class="section-item" onclick="showContent('structures-4')">
            Кортежи (tuple). Неизменяемость, использование в качестве ключей словаря
          </div>
          <div class="section-item" onclick="showContent('structures-5')">
            Кортежи (tuple). Распаковка кортежей, именованные кортежи (namedtuple).
          </div>
          <div class="section-item" onclick="showContent('structures-6')">
            Словари (dict). Создание, добавление, удаление элементов.
          </div>
          <div class="section-item" onclick="showContent('structures-7')">
            Словари (dict). Методы: get, setdefault, update
          </div>
          <div class="section-item" onclick="showContent('structures-8')">
            Словари (dict). Словарные включения (dict Comprehension)
          </div>
          <div class="section-item" onclick="showContent('structures-9')">
            Словари (dict). Вопросы хэширования
          </div>
          <div class="section-item" onclick="showContent('structures-10')">
            Множества (set, frozenset). Основные операции
          </div>
          <div class="section-item" onclick="showContent('structures-11')">
            Множества (set, frozenset). Применение для удаления дубликатов
          </div>
          <div class="section-item" onclick="showContent('structures-12')">
            Дополнительные коллекции из модуля collections
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="5">
        <div class="chapter-title" onclick="toggleChapter(5)">
          Глава 4. Управление потоком выполнения
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('execution_flow-1')">
            if, elif, else: особенности сравнения (==, is)
          </div>
          <div class="section-item" onclick="showContent('execution_flow-2')">
            Тернарный оператор
          </div>
          <div class="section-item" onclick="showContent('execution_flow-3')">
            Структурное сопоставление (pattern matching)
          </div>
          <div class="section-item" onclick="showContent('execution_flow-4')">
            Цикл for
          </div>
          <div class="section-item" onclick="showContent('execution_flow-5')">
            Функция range()
          </div>
          <div class="section-item" onclick="showContent('execution_flow-6')">
            Цикл while()
          </div>
          <div class="section-item" onclick="showContent('execution_flow-7')">
            Управление выполнением циклов
          </div>
          <div class="section-item" onclick="showContent('execution_flow-8')">
            Обработка исключений. Конструкции
          </div>
          <div class="section-item" onclick="showContent('execution_flow-9')">
            Обработка исключений. Встроенные исключения
          </div>
          <div class="section-item" onclick="showContent('execution_flow-10')">
            Обработка исключений. Создание пользовательских исключений
          </div>
          <div class="section-item" onclick="showContent('execution_flow-11')">
            Обработка исключений. Конструкция raise exception
          </div>
          <div class="section-item" onclick="showContent('execution_flow-12')">
            Контекстные менеджеры и оператор with
          </div>
          <div class="section-item" onclick="showContent('execution_flow-13')">
            Принцип работы с ресурсами
          </div>
          <div class="section-item" onclick="showContent('execution_flow-14')">
            Создание собственных контекстных менеджеров (enter, exit)
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="6">
        <div class="chapter-title" onclick="toggleChapter(6)">
          Глава 5. Функции и функциональное программирование
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('func_prog-1')">
            Синтаксис и параметры
          </div>
          <div class="section-item" onclick="showContent('func_prog-2')">
            Передача аргументов
          </div>
          <div class="section-item" onclick="showContent('func_prog-3')">
            Различия между return и print
          </div>
          <div class="section-item" onclick="showContent('func_prog-4')">
            Анонимные функции
          </div>
          <div class="section-item" onclick="showContent('func_prog-5')">
            Замыкание
          </div>
          <div class="section-item" onclick="showContent('func_prog-6')">
            Передача функций в качестве аргументов, возврат функций
          </div>
          <div class="section-item" onclick="showContent('func_prog-7')">
            Функции высшего порядка и композиции
          </div>
          <div class="section-item" onclick="showContent('func_prog-8')">
            Использование аннотаций типов
          </div>
          <div class="section-item" onclick="showContent('func_prog-9')">
            Создание модулей, структура файлов и каталогов
          </div>
          <div class="section-item" onclick="showContent('func_prog-10')">
            Импортирование
          </div>
          <div class="section-item" onclick="showContent('func_prog-11')">
            Работа с пакетом __init__
          </div>
          <div class="section-item" onclick="showContent('func_prog-12')">
            Практические советы по организации кода
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="7">
        <div class="chapter-title" onclick="toggleChapter(7)">
          Глава 6. Объектно-ориентированное программирование
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('OOP-1')">
            Основы ООП. Принципы и паттерны
          </div>
          <div class="section-item" onclick="showContent('OOP-2')">
            Создание классов, конструкторы
          </div>
          <div class="section-item" onclick="showContent('OOP-3')">
            Аттрибуты
          </div>
          <div class="section-item" onclick="showContent('OOP-4')">
            Наследование и MRO
          </div>
          <div class="section-item" onclick="showContent('OOP-5')">
            Super и переопределение методов
          </div>
          <div class="section-item" onclick="showContent('OOP-6')">
            Инкапсуляция
          </div>
          <div class="section-item" onclick="showContent('OOP-7')">
            Магические методы и перегрузка
          </div>
          <div class="section-item" onclick="showContent('OOP-8')">
            Методы str, repr, eq, hash
          </div>
          <div class="section-item" onclick="showContent('OOP-9')">
            Перегрузка арифметических и индексных операторов
          </div>
          <div class="section-item" onclick="showContent('OOP-10')">
            Свойства, дескрипторы и data classes
          </div>
          <div class="section-item" onclick="showContent('OOP-11')">
            Геттеры и сеттеры
          </div>
          <div class="section-item" onclick="showContent('OOP-12')">
            Создание дескрипторов
          </div>
          <div class="section-item" onclick="showContent('OOP-13')">
            Data Classes
          </div>
          <div class="section-item" onclick="showContent('OOP-14')">
            Интеграция с Pydantic для валидации даных
          </div>
          <div class="section-item" onclick="showContent('OOP-15')">
            Метапрограммирование и метаклассы
          </div>
          <div class="section-item" onclick="showContent('OOP-16')">
            Введение в метаклассы
          </div>
          <div class="section-item" onclick="showContent('OOP-17')">
            Примеры создания метаклассов для валидации и создания API
          </div>
          <div class="section-item" onclick="showContent('OOP-18')">
            Рефлексия и интроспекция
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="8">
        <div class="chapter-title" onclick="toggleChapter(8)">
          Глава 7. Работа с файлами и сериализация данных
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('file_work-1')">
            Чтение и запись файлов
          </div>
          <div class="section-item" onclick="showContent('file_work-2')">
            Режимы открытия файлов (r,w,a,b)
          </div>
          <div class="section-item" onclick="showContent('file_work-3')">
            Работа с контекстным менеджером
          </div>
          <div class="section-item" onclick="showContent('file_work-4')">
            Методы файла
          </div>
          <div class="section-item" onclick="showContent('file_work-5')">
            Бинарные файлы и кодировки
          </div>
          <div class="section-item" onclick="showContent('file_work-6')">
            Обработка бинарных данных, различия между текстовыми и бинарными режимами
          </div>
          <div class="section-item" onclick="showContent('file_work-7')">
            Работа с кодировками, обработка ошибок
          </div>
          <div class="section-item" onclick="showContent('file_work-8')">
            Сериализация и десериализация
          </div>
          <div class="section-item" onclick="showContent('file_work-9')">
            Форматы сериализации
          </div>
          <div class="section-item" onclick="showContent('file_work-10')">
            Практические примеры сохранения и загрузки данных
          </div>
          <div class="section-item" onclick="showContent('file_work-11')">
            Особенности безопасности при использовании pickle
          </div>
          <div class="section-item" onclick="showContent('file_work-12')">
            Работа с таблицами и другими форматами
          </div>
          <div class="section-item" onclick="showContent('file_work-13')">
            Работа с CSV
          </div>
          <div class="section-item" onclick="showContent('file_work-14')">
            Работа с Excel
          </div>
          <div class="section-item" onclick="showContent('file_work-15')">
            Интеграция с API и потоковая обработка данных
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="9">
        <div class="chapter-title" onclick="toggleChapter(9)">
          Глава 8. Итераторы, генераторы и функциональные инструменты
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('func_tools-1')">
            Определение итераторов
          </div>
          <div class="section-item" onclick="showContent('func_tools-2')">
            Создание собственных итераторов. Применение в алгоритмах
          </div>
          <div class="section-item" onclick="showContent('func_tools-3')">
            Функции-генераторы и оператор yeld
          </div>
          <div class="section-item" onclick="showContent('func_tools-4')">
            Генераторные выражения
          </div>
          <div class="section-item" onclick="showContent('func_tools-5')">
            Примеры использования для обработки больших объемов данных
          </div>
          <div class="section-item" onclick="showContent('func_tools-6')">
            Модуль itertools
          </div>
          <div class="section-item" onclick="showContent('func_tools-7')">
            Полезные функции
          </div>
          <div class="section-item" onclick="showContent('func_tools-8')">
            Бесконечные итераторы и эффективная комбинаторика
          </div>
          <div class="section-item" onclick="showContent('func_tools-9')">
            Функции высшего порядка
          </div>
          <div class="section-item" onclick="showContent('func_tools-10')">
            Анонимные функции для компактности
          </div>
          <div class="section-item" onclick="showContent('func_tools-11')">
            Инструмент partial из functools для фиксации аргументов
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="10">
        <div class="chapter-title" onclick="toggleChapter(10)">
          Глава 9. Асинхронное программирование и конкурентность
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('rivalry-1')">
            Основы асинхронности
          </div>
          <div class="section-item" onclick="showContent('rivalry-2')">
            Концепция корутин, принцип async/await
          </div>
          <div class="section-item" onclick="showContent('rivalry-3')">
            Обзор eventloop, tasks, futures
          </div>
          <div class="section-item" onclick="showContent('rivalry-4')">
            Библиотека asyncio
          </div>
          <div class="section-item" onclick="showContent('rivalry-5')">
            Создание и управление задачами
          </div>
          <div class="section-item" onclick="showContent('rivalry-6')">
            Работа с сетевыми операциями
          </div>
          <div class="section-item" onclick="showContent('rivalry-7')">
            Примеры асинхронноси
          </div>
          <div class="section-item" onclick="showContent('rivalry-8')">
            Расширенный взгляд на асинхронное программирование
          </div>
          <div class="section-item" onclick="showContent('rivalry-9')">
            Библиотеки Trio и Curio
          </div>
          <div class="section-item" onclick="showContent('rivalry-10')">
            Сравнение моделей конкурентности
          </div>
          <div class="section-item" onclick="showContent('rivalry-11')">
            Параллелизм
          </div>
          <div class="section-item" onclick="showContent('rivalry-12')">
            Модуль Threading
          </div>
          <div class="section-item" onclick="showContent('rivalry-13')">
            Модуль multiprocessing
          </div>
          <div class="section-item" onclick="showContent('rivalry-14')">
            Модуль concurrent.futures
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="11">
        <div class="chapter-title" onclick="toggleChapter(11)">
          Глава 10. Декораторы и метапрограммирование
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="12">
        <div class="chapter-title" onclick="toggleChapter(12)">
          Глава 11. Новые возможности и современные фичи
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="13">
        <div class="chapter-title" onclick="toggleChapter(13)">
          Глава 12. Продвинутые оптимизации и ускорение кода
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="14">
        <div class="chapter-title" onclick="toggleChapter(14)">
          Глава 13. Современные инструменты DevOps и CI/CD для Python проектов.
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="15">
        <div class="chapter-title" onclick="toggleChapter(15)">
          Глава 14. Веб разработка на Python
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="16">
        <div class="chapter-title" onclick="toggleChapter(16)">
          Глава 15. Работа с базами данных
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="17">
        <div class="chapter-title" onclick="toggleChapter(17)">
          Глава 16. Тестирование и обеспечение качества кода
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="18">
        <div class="chapter-title" onclick="toggleChapter(18)">
          Глава 17. Отладка, логирование и профилирование
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="19">
        <div class="chapter-title" onclick="toggleChapter(19)">
          Глава 18. Интеграция с облачными платформами и микросервисная архитектура
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="20">
        <div class="chapter-title" onclick="toggleChapter(20)">
          Глава 19. Практические проекты и кейс-стади
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="21">
        <div class="chapter-title" onclick="toggleChapter(21)">
          Глава 20. Будущее Python и профессиональное развитие
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

      <div class="chapter" data-chapter="22">
        <div class="chapter-title" onclick="toggleChapter(22)">
          Заключение и дополнительные материалы
          <span>▼</span>
        </div>
        <div class="chapter-content">
          <div class="section-item" onclick="showContent('classes')">
            Классы
          </div>
          <div class="section-item" onclick="showContent('inheritance')">
            Наследование
          </div>
        </div>
      </div>

    </div>

    <!-- Контент -->
    <div class="content">
      <!-- Блоки контента -->
      <div id="intro-1" class="content-block active-content">
        <h2>Роль Python в современном мире</h2>
        <p>Научные исследования, веб разработка, автоматизация, искусственный интеллект и DevOps...</p>
        <img src="placeholder.jpg" alt="Пример" />
      </div>
      <div id="intro-2" class="content-block active-content">
        <h2>Язык программирования</h2>
        <p>Краткое описание: Zen, интерпретация/компиляция, типизация...</p>
        <img src="placeholder.jpg" alt="Пример" />
      </div>

      <div id="toolkit-1" class="content-block">
        <h2>Инструкции установки для Windows, Linux, MacOS</h2>
        <pre><code>print("Hello World!")</code></pre>
      </div>
      <div id="toolkit-2" class="content-block">
        <h2>Обзор альтернативных реализаций</h2>
        <p>CPython (стандартная реализация).<br>PyPy - особенности и преимущества.</p>
      </div>
      <div id="toolkit-3" class="content-block">
        <h2>Переменные окружения (PATH)</h2>
        <p>Переменные окружения (PATH)</p>
      </div>
      <div id="toolkit-4" class="content-block">
        <h2>Виртуальные окружения и современные инструменты</h2>
        <p>Виртуальные окружения: venv и virtualenv.</p>
        <p>Современные инструменты: pipenv, poetry.</p>
      </div>
      <div id="toolkit-5" class="content-block">
        <h2>Редакторы кода</h2>
        <p>VScode, Sublime text, Atom</p>
      </div>
      <div id="toolkit-6" class="content-block">
        <h2>Полноценные IDE</h2>
        <p>PyCharm, Eclipse+PyDev</p>
      </div>
      <div id="toolkit-7" class="content-block">
        <h2>Интеграция с системами контроля версий</h2>
        <p>Интеграция с системами контроля версий (git) и настройка линтеров/форматтеров (pylint, black)</p>
      </div>
      <div id="toolkit-8" class="content-block">
        <h2>Docker: Контейнеризация приложений</h2>
        <p>Docker: Контейнеризация приложений</p>
      </div>
      <div id="toolkit-9" class="content-block">
        <h2>Инструменты сборки и автоматизации (Makefile, tox)</h2>
        <p>Инструменты сборки и автоматизации (Makefile, tox)</p>
      </div>
      <div id="toolkit-10" class="content-block">
        <h2>Обзор CI/CD</h2>
        <p>Обзор CI/CD: Jenkins, GitLab CI/CD, CircleCI</p>
      </div>

      <div id="fundamentals-1" class="content-block">
        <h2>Синтаксис языка, отступы и правила форматирования (PEP8)</h2>
        <p>Синтаксис языка, отступы и правила форматирования (PEP8)...</p>
      </div>
      <div id="fundamentals-2" class="content-block">
        <h2>Синтаксис языка, отступы и правила форматирования (PEP8)</h2>
        <p>Синтаксис языка, отступы и правила форматирования (PEP8)...</p>
      </div>

      <div id="classes" class="content-block">
        <h2>Классы</h2>
        <p>Пример класса:</p>
        <pre><code>class MyClass:
    def __init__(self):
        pass</code></pre>
      </div>

      <div id="inheritance" class="content-block">
        <h2>Наследование</h2>
        <p>Пример наследования...</p>
      </div>
    </div>

    <script src="/static/js/python-main.js"></script>
  </body>
</html>
